<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>购物车+点击变色案例</title>
    <script src="vue.js"></script>
    <style>
      .red {
        background-color: red;
      }
      thead > tr {
        height: 50px;
        background-color: #f3f3f3;
      }
      table {
        border-collapse: collapse;
      }
      td {
        padding: 5px 20px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      遍历的顺序是value，key，index，每个li都加上一个唯一的key，这样可以增加diff算法的效率
      <ul>
        <li v-for="(value, key, index) in info" :key="key">
          {{value}}---{{key}}---{{index}}
        </li>
      </ul>

      <hr />
      <h3>
        注意，vue会监控数组变换，但是使用arr[0]="xxxx"的方式无法监控，其他的方式可以，
        可以使用Vue.set(arr,0,"xxxx")来代替上面的方法
      </h3>

      <hr />
      <h3>案例：点击变色</h3>
      <ul>
        <li
          v-for="(item, index) in movies"
          :class="{red:currentIndex == index}"
          @click="liClick(index)"
        >
          {{index}}----{{item}}
        </li>
      </ul>

      <hr />
      <h3>案例：购物车</h3>
      <table border="1">
        <thead>
          <tr>
            <td></td>
            <td>书籍名称</td>
            <td>出版日期</td>
            <td>价格</td>
            <td>购买数量</td>
            <td>操作</td>
          </tr>
        </thead>

        <tbody>
          <tr v-for="book in books">
            <td>{{book.id}}</td>
            <td>{{book.name}}</td>
            <td>{{book.date}}</td>
            <!-- 使用函数实现 -->
            <!-- <td>{{finalPrice(book.price)}}</td> -->
            <!-- 使用过滤器也可以实现相同功能，自动把book.price当做参数传给后面的过滤器 -->
            <td>{{ book.price | finalPrice}}</td>

            <td>
              <button @click="subCount(book.id)" :disabled="book.count <= 0">
                -
              </button>
              {{book.count}}
              <button @click="addCount(book.id)">+</button>
            </td>
            <td>
              <button @click="remove(book.id)">移除</button>
            </td>
          </tr>
        </tbody>

        <tfoot>
          <tr>
            <td colspan="6">总价格: {{finalPrice(this.totalPrice)}}</td>
          </tr>
        </tfoot>
      </table>
    </div>

    <script>
      const app = new Vue({
        el: "#app",
        data: {
          info: {
            name: "ximu",
            age: 19,
            height: 175,
          },
          movies: ["1231", "sdffsdf", "sfd212", "sf232dfas"],
          currentIndex: 0,
          books: [
            { id: 1, name: "算法导论", date: "2008/9/10", price: 89, count: 0 },
            {
              id: 2,
              name: "Unix编程艺术",
              date: "2004/6/12",
              price: 125,
              count: 0,
            },
            { id: 3, name: "编程珠玑", date: "2014/7/5", price: 189, count: 0 },
            {
              id: 4,
              name: "代码大全",
              date: "1908/5/30",
              price: 851,
              count: 0,
            },
          ],
        },
        computed: {
          totalPrice() {
            let price = this.books.reduce(
              (acc, cur) => acc + cur.price * cur.count,
              0
            );
            return price;
          },
        },
        filters: {
          finalPrice(price) {
            return "￥" + price.toFixed(2);
          },
        },
        methods: {
          finalPrice(price) {
            return "￥" + price.toFixed(2);
          },
          addCount(id, event) {
            this.books.map((item) => {
              if (item.id === id) {
                item.count++;
              }
            });
          },
          subCount(id, event) {
            this.books.map((item) => {
              if (item.id === id) {
                item.count--;
              }
            });
          },
          remove(id) {
            this.books = this.books.filter((item) => item.id != id);
          },

          liClick(index) {
            this.currentIndex = index;
          },
        },
      });
    </script>
  </body>
</html>
